@font-face {
  font-family: "Proxima nova RG";
  src: url("../Fonts/Proxima_nova_bold-webfont.ttf") format("TrueType");
  /* src: url("../Fonts/Billabong_logo_font.ttf") format("TrueType"); */
}

@font-face {
  font-family: "Billabong";
  src: url("../Fonts/Billabong_logo_font.ttf") format("TrueType");
  /* src: url("../Fonts/Billabong_logo_font.ttf") format("TrueType"); */
}

body {
  font-size: .875rem;
  font-family: "Proxima nova RG";
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.logo-webfont {
  font-family: "Billabong";
  color: #DB98AC;
}

.logo-webfont:hover {
  color: #BE7B8F;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  background-color: #F7F7F7 !important;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #DB98AC;
}

.border-end {
  border-right: 3px solid #DB98AC !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

hr {
  background-color: #aeaeae;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 2rem;
  background-color: #F7F7F7;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Card
 */

.card-img, .card-img-top {
  border-radius: 15px;
}

.border-light {
  border-color: #F7F7F7 !important;
  border-radius: 17px;
}

.card-footer {
  border-top: 0;
}

.card-footer.bg-transparent > .row > .col-md-auto, .col {
  padding-right: calc(var(--bs-gutter-x)/ 3);
  padding-left: calc(var(--bs-gutter-x)/ 3);
  align-self: center;
}

.card-footer.bg-transparent > .row > .col-md-auto:first-child {
  padding-left: 0;
}

.card-footer.bg-transparent > .row > .col-md-auto:last-child {
  padding-right: 0;
}

/* Svg item center */
.bi.bi-chat {
  top: -2px;
  position: relative;
}